body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 450px;
    color: lightgray;
}

#title {
    color: gray;
}

#mistakes {
    color: lightcoral;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* text */
    font-size: 20;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-given {
    background-color: whitesmoke;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.digit {
    width: 44px;
    height: 44px;
    border: 1px solid gray;
    margin: 2px;

    /* text */
    font-size: 20;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digit-selected {
    width: 42px;
    height: 42px;
    border: 2px solid gold;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#version {
    text-align: left;
    color: orange;
}